#main{
    height: 100%;
    width: 100%;
    
}
.h1{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    
}

#acc{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.symbol-info{
    display: inline;
    text-align: start;
}
.graf{
    width: 700px;
    height: 500px;
}
.fundamental-data{
    height: 820px;
}