<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main id="">
      <section id="section">
        amzn
      </sectio>
      <section id="section1">
      </section>
    </main>
  </body>
</html>