<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='css/index.css' />
  </head>
  <body>
    <%- include('../semantico/header.ejs')  %>
    <h1 class="h1-info">BIENVENIDO!</h1>
    <h2 class="h2-info">ELIJE QUE ACCION QUIERES VER</h2>
    <a href="/info/appl">APPLE</a>
    <a href="/info/amzn">AMZN</a>
    <a href="/info/googl">GOOGLE</a>
  </body>
</html>