<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='css/index.css' />
  </head>
  <body>
    <%- include('../semantico/header.ejs')  %>
    <h1 class="h1-info">BIENVENIDO!</h1>
    <h2 class="h2-info">ELIJE QUE ACCIÓN QUIERES VER</h2>
    <section id="acciones">
      <% acciones.forEach( accion => { %>
        <a href="/info/<%= accion.nombre%>" class="acciones"> <%= accion.nombre%></a>
      <% }); %>
    </section>
    <br>
  </body>
</html>