<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='css/index.css' />
  </head>
  <body>
    <%- include('semantico/header.ejs')  %>
    <h1></h1>
    <h2>TODA LA INFORMACION DE TUS ACCIONES ACA</h2>
    <a href="/info">INFO</a>
    <a href=""></a>
  </body>
</html>